/* Start Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
/* || End Google Fonts */
/* Start Global Rulse */
h1,
h2,
h3 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--Brown-800);
  margin: 15px 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}
body {
  background-color: var(--Stone-100);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  padding: 20px 0;
}
li {
  list-style-position: inside;
}
hr {
  background-color: var(--Stone-100);
  height: 1px;
  margin: 25px 0;
}
/* || End Global Rulse */

.page {
  width: 350px;
  margin: 30px auto;
  background-color: var(--White);
  border-radius: 15px;
  padding: 20px 25px;
}
img[alt="omelette"] {
  max-width: 100%;
  border-radius: 15px;
}
h1 {
  color: var(--Stone-900);
}
.container > p {
  font-size: 15px;
  color: var(--Stone-600);
  line-height: 1.5;
}
.time {
  background-color: var(--Rose-50);
  margin: 25px 0;
  padding: 20px;
  border-radius: 10px;
}
.time h4 {
  font-size: 16px;
  color: var(--Rose-800);
}
.time ul {
  padding: 10px 0 0 10px;
}
.time ul li {
  padding-bottom: 10px;
}
.time ul li span {
  font-size: 16px;
  font-weight: 600;
}
ul.content li {
  margin-bottom: 10px;
}
ol {
  list-style-type: none;
}
ol li {
  counter-increment: number;
  position: relative;
  padding: 10px 10px 0;
  margin-left: 15px;
  line-height: 1.6;
  color: var(--Stone-600);
  font-weight: 500;
}
ol li::before {
  content: counter(number) ".";
  position: absolute;
  left: -18px;
  font-weight: 600;
  color: var(--Rose-800);
}
ol li span {
  color: var(--Stone-600);
  font-weight: 800;
}
.table p {
  border-bottom: 1px solid var(--Stone-150);
  padding: 20px;
}
.table p:last-child {
  border-bottom: none;
}
.table p span:last-child {
  position: relative;
  left: 50%;
  font-weight: 600;
  color: var(--Brown-800);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0 5px;
}
/* Small */
@media (min-width: 768px) {
  .page {
    width: 650px;
  }
}
